@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.navbar-custom {
  background-color: #2e3047;
}

/* For both login and register */
.loginregister {
  margin: 50px 0px;
  border-radius: 10px;
  box-shadow: 0 0 10px #c2c5cc;
}

.loginregister .col-md-6 {
  background-color: #3c3f58;
  border-radius: 10px 0px 0px 10px;
}

/* Member login part design*/
.memberlogin {
  background-color: #3c3f58;
  color: #fff;
  padding: 20px 10px;
}

.memberlogin h3 {
  margin-bottom: 20px;
}

.memberlogin input {
  border-radius: 5px 0px;
  border: 0;
}

.memberlogin a {
  text-decoration: none;
  color: #3bba9c;
  font-size: smaller;
  float: right;
}

.memberlogin a:hover {
  text-decoration: none;
  color: #3bba9c;
}

.memberlogin p {
  font-size: small;
  font-weight: lighter;
}

.memberlogin label {
  margin: 10px 0px -10px 0px;
  font-family: "Montserrat", sans-serif;
}

.createaccount {
  border-top: solid 1px #3bba9c70;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding: 10px;
}

.loginbutton button {
  border: 1px solid #3bba9c;
  background-color: #3c3f58;
  color: #3bba9c;
  width: 120px;
  height: 35px;
  font-size: small;
  border-radius: 5px 0px;
  margin: 20px 0px 40px 0px;
}

.loginbutton button:hover {
  border: none;
  background-color: #3bba9c;
  color: #fff;
}
.loginimage {
  width: 90%;
  height: 75%;
  display: block;
  margin: auto;
  margin-top: 30px;
}
/* Create account part design*/
.createaccout {
  padding-top: 20px;
  height: 400px;
}

.createaccout input {
  border-radius: 5px 0px;
}

.createaccout h3 {
  color: #3bba9c;
}

.createaccout label {
  font-size: small;
  padding: 10px 0px 0px 0px;
  margin-bottom: 0px;
}

.createaccout button {
  border: none;
  background-color: #3bba9c;
  color: #fff;
  width: 120px;
  height: 35px;
  font-size: small;
  border-radius: 5px 0px;
  margin: 20px 0px 40px 0px;
}
.createaccout button:hover {
  border: none;
  background-color: #3c3f58;
  color: #fff;
}

.sessionerror {
  /*  */
}
/* Thankyou page */

/* Green tick logo */
.greenticklogo {
  width: 120px;
  height: 100px;
}

/**/
.socialmedia a {
  color: black;
}

.graybackground {
  margin-top: 100px;
  padding: 50px 0px;
  background-color: #f2f2f2;
}

/* SEARCH RESULT PAGE */

/* for the view and download link */
.searchresult_links {
  padding-bottom: 10px;
}
.link_button {
  padding-right: 10px;
}

.searchresult_links a {
  color: #3bba9c;
  text-decoration: none;
}

.searchresult_links a:hover {
  color: #283047;
  text-decoration: none;
}

/* each search reslut */
.search_result {
  margin-bottom: 10px;
  margin-left: 280px;
}

/* paginatin */
.pagination {
  margin-left: 280px;
}

/* search result connt */
.search_count {
  margin-bottom: 10px;
  margin-left: 250px;
  padding: 110px 10px 10px 0px;
  color: #707093;
  border-bottom: solid 1px #707793;
}

.search_form {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  background-color: #43455c;
  font-family: "Montserrat", sans-serif;
  color: #3bba9c;
}

.filter {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: solid 2px #707793;
  margin-top: 100px;
  padding: 20px;
}

.filter_title {
  border-bottom: solid 1px #3bba9c;
}

.filter_content {
  padding-left: 0px;
  padding-top: 10px;
}

.filter_content li {
  list-style-type: none;
  margin: -10px -10px;
}

.apply_button {
  background: rgba(0, 0, 0, 0);
  border: solid 1px #3bba9c;
  width: 80px;
  height: 30px;
  border-radius: 15px;
}

.apply_button:hover {
  background: rgba(0, 0, 0, 0);
  border: solid 1px #3bba9c;
  background-color: #3bba9c;
  color: #fff;
  width: 80px;
  height: 30px;
  border-radius: 15px;
}

/* New search bar design */

.search-container {
  width: 600px;
  display: block;
  margin: 0 auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #3bba9c;
  border-radius: 3px;
  outline: none;
  background-color: #2e3047;
  color: #fff;
}
input#search-bar:focus {
  border: 1px solid #fff;
  transition: 0.35s ease;
  color: #fff;
}

input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.search-icon {
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  top: -43px;
  left: -2px;
  background: rgba(0, 0, 0, 0);
  border: none; /* Remove borders */
  color: #3bba9c; /* White text */
  cursor: pointer;
}

/* Search page with searh bar and its background */

.search_page {
  background-color: #3c3f58;
  padding-top: 100px;
  padding-bottom: 50px;
}

.home_logo {
  width: 200px;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* checkbox on homepage */

.home_checkbox input[type="checkbox"] {
  display: none;
}

.home_checkbox input[type="checkbox"] + label {
  display: inline;
  position: relative;
  padding-left: 25px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  color: #707793;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.home_checkbox input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
  margin-left: 10px;
}

.home_checkbox input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #3bba9c;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

.home_checkbox input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* UPLOAD PAGE AND EDIT PAGE DESIGN */

.sidebar {
  width: 200px;
  height: 100%;
  background: #2e3047;
  padding-top: 30px;
  position: fixed;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}

.sidebar h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style-type: none;
  margin-left: -40px;
}

.sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.sidebar ul li a .fas {
  width: 25px;
}

.activemode {
  background-color: #3c3f58;
  color: #fff;
  border-style: solid;
  border-right: 5px;
  border-color: #3bba9c;
}

.sidebar ul li:hover {
  background-color: #3c3f58;
  padding-left: 20px;
}

.sidebar ul li:hover a {
  color: #fff;
}

.sidebar .bottom_sidebar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar .bottom_sidebar a {
  color: #3bba9c;
  text-decoration: none;
}

.sidebar .bottom_sidebar a:hover {
  color: #fff;
}

.header {
  padding: 15px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  margin-left: 200px;
}

.main_content {
  padding: 20px 20px 20px 220px;
  background-color: #f3f3f4;
}

.main_content .contain_form {
  padding: 30px;
  background-color: #fff;
  border-top: 3px solid #dedede;
}

/* EDIT PAGE */

.collpaseDiv {
  margin: 10px;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

.table_class {
}
.table_head th {
  background-color: #2e3047;
  color: #fff;
  height: 50px;
  padding-left: 10px;
  border-bottom: 5px solid #fff;
}

.table_class tr:nth-child(odd) {
  background-color: #70779330;
}
.table_class tr:nth-child(even) {
  border: 3px solid #fff;
}

/* CONTACT US PAGE */

.reachus {
  background-color: #3bba9c;
  border-radius: 10px;
  padding: 20px;
}

.reachus h4 {
  color: #2e3047;
}
