h3 {
  text-align: center;
}

/* For both login and register */
.loginregister {
  margin: 50px 0px;
  border-radius: 10px;
  box-shadow: 0 0 10px #c2c5cc;
}

.loginregister .col-md-6 {
  background-color: #4682bf;
  border-radius: 10px 0px 0px 10px;
}

/* Member login part design*/
.memberlogin {
  background-color: #4682bf;
  color: #fff;
  padding: 20px;
}

.memberlogin input {
  border: 0;
}

.memberlogin a {
  color: #c2c5cc;
}
/* Create account part design*/
.createaccout {
  padding-top: 20px;
}

/* Thankyou page */

/* Green tick logo */
.greenticklogo {
  width: 120px;
  height: 100px;
}

/**/
.socialmedia a {
  color: black;
}

.graybackground {
  margin-top: 100px;
  padding: 50px 0px;
  background-color: #f2f2f2;
}

.link_button {
  text-decoration: none;
}

.search_result {
  border: solid 1px #bbb;
  margin-bottom: 10px;
  margin-left: 250px;
}

.search_count {
  margin-bottom: 10px;
  margin-left: 250px;
  padding: 50px 10px 0px 10px;
}

.search_form {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  background-color: #fff;
}

.filter {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #48bf91; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
}
